{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/layout2.css' %}">

  <title>소통 할 사람?</title>
</head>

<body>

  <!-- header -->
  <header>
    <h1>소통 좀 합시데이</h1>
  </header>
  
  <!-- nav -->
  <nav>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <a href="{%url 'layout' %}"><button type="button" class="btn btn-light">메인화면</button></a>
        </div>
        <div class="col">
          <a href="{%url 'layout2'%}"><button type="button" class="btn btn-light">소통의 장</button></a>
        </div>
        <div class="col">
          <a href="{%url 'layout3'%}"><button type="button" class="btn btn-light">공지의 장</button></a>
        </div>
        <div class="col">
          <a href="{%url 'layout4'%}"><button type="button" class="btn btn-light">유머의 장</button></a>
        </div>
      </div>
    </div> 
  </nav>
  
      <!-- section 1 -->
  <section class="section ysh_con1" id="ysh_con1">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">소통 공지</a>
    </div>
  </section>

  <!-- section 2 -->
  <section class="section ysh_con2" id="ysh_con2">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">[1]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[2]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[3]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[4]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[5]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[6]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[7]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[8]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[9]대충 인기글이라는 내용</a>
      <a href="#" class="list-group-item list-group-item-action">[10]대충 인기글이라는 내용</a>
    </div>
  </section>

  <!-- section 3 -->
  <section class="section ysh_con3" id="ysh_con3">
    <div aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">처음으로</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">마지막으로</a></li>
      </ul>
    </div>
  </section>

</body>

<!-- footer -->
<footer>
  <h1>윤성현 2023.12.20 수정중</h1>
  <a href="{%url 'layout'%}"><button type="button" class="btn btn-outline-light">자 첫페이지로!!!!!!</button></a>
</footer>

<!-- bootstrap script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>

<form method='POST'>
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <input type="submit" value="제출하기">
</form>

<br>

{% for x in communicates.all %}
  <p>제목: {{x.title}}</p>
  <p>[내용]</p>
  {{x.body}}<br>
  <p>쓴 사람:{{x.author}}</p>
{% endfor %}